<div class="sticky"><app-gnrlheader></app-gnrlheader></div>
<div class="form">
  <div class="form-group">
    <!-- <form #frm1="ngForm" (ngSubmit)="rform(frm1.value)" > -->
    <form [formGroup]="newuser" (ngSubmit)="rform()">
      <div class="register">
        <h1 style="text-align:center; font-family:'Franklin Gothic Medium'">Register Yourself</h1>
        First Name:
        <input type="text" formControlName="fname" required class="form-control" placeholder="Enter First Name"
          name="txtfname">
        <div style="color: red;" *ngIf="fname.errors?.['required'] && fname.invalid && fname.touched">Field name is
          required</div>
        <!-- <span required *ngIf="txtuser.invalid && txtuser.touched">
      Please do not empty field! </span> --><br>
        Last Name:
        <input id="inputState" required formControlName="lname" class="form-control" placeholder="Enter Last Name"
          name="txtlmane">
        <div style="color: red;" *ngIf="lname.errors?.['required'] && lname.invalid && lname.touched">Field name is
          required</div>
        <br>
        E-mail:
        <input type="text" formControlName="email" class="form-control" id="inputemail" placeholder="Enter e-mail">
        <div style="color: red;" *ngIf="email.errors?.['email'] && email.invalid && email.touched">Field name is
          required</div>
        <div style="color: red;" *ngIf="email.errors?.['required'] && email.invalid && email.touched">Field name is
          required</div><br>
        Phone:
        <input type="tel" formControlName="phone" class="form-control" id="inputphone" placeholder="Enter Phone No.">
        <div style="color: red;" *ngIf="phone.errors?.['required'] && phone.invalid && phone.touched">Field name is
          required</div><br>
        Address:
        <input type="text" required formControlName="addr" class="form-control" placeholder="Enter Address"
          name="txtaddress">
        <div style="color: red;" *ngIf="addr.errors?.['required'] && addr.invalid && addr.touched">Field name is
          required</div>
        <br>

        <div class="form-contol">
          Area:
          <!-- <input type="text" class="form-control" formControlName="uarea"  name="uarea" placeholder="enter area"> -->
          <!-- <span class="icon-bar"></span> -->
          <select id="inputState" formControlName="uarea" class="form-control">
            <span class="caret"></span>
            <option value="" disabled>Select area</option>
            <option *ngFor="let item of arealist">
              {{item.areaname}}
            </option>
          </select>
        </div><br>


        User Name:
        <input type="text" required formControlName="uname" class="form-control" placeholder="Enter User Name"
          name="uname">
        <div style="color: red;" *ngIf="uname.errors?.['required'] && uname.invalid && uname.touched">Field name is
          required</div>
        <br>
        Password:
        <input type="text" formControlName="upass" class="form-control" placeholder="Enter Password" name="password">
        <div style="color: red;" *ngIf="upass.errors?.['required'] && upass.invalid && upass.touched">Field name is
          required</div>
        <br>

        Security Question:
        <!-- <div class="form-control"> -->
        <select id="inputState" formControlName="uques" class="form-control">
          <span class="caret"></span>
          <option value="" disabled>Select Security Question</option>
          <option *ngFor="let item of quescollection">
            {{item.ques}}
          </option>
        </select><br>
        <!-- </div> -->


        Security Answer:
        <input type="text" required formControlName="uans" class="form-control" placeholder="Enter Your Answer"
          name="uans">
        <div style="color: red;" *ngIf="uans.errors?.['required'] && uans.invalid && uans.touched">Field name is
          required</div>
        <!-- <button  [disabled]="frm1.invalid">Submit</button>-->
        <br>
        <button class="btn btn-primary">Submit </button>
      </div>
    </form>
  </div>
</div>