/* Navbar */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header Banner */
.header-banner {
    max-height: 800px;
    overflow: hidden;
}

.header-banner img {
    width: 100%;
    height: auto;
}

/* Header Text */
.header-text {
    text-align: center;
}

/* Title */
.position-relative .position-absolute {
    color: white;
    padding: 5px 10px;
    border-radius: 0 0 5px 0;
}

/* Form */
form .form-control {
    border-radius: 0;
}

form .btn {
    width: 100%;
    border-radius: 0;
}